n8n-templates/n8n_customer_support_agent.json
{
  "name": "Customer Support Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        112
      ],
      "id": "a3817915-575d-4863-b979-693feb3b640b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "luGxJY9720GPvF8U",
          "name": "serginyo1990@gmail.com course n8n"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Other",
              "description": "Emails which is not related to Customer Support"
            },
            {
              "category": "Customer Support ",
              "description": "All emails which related to customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        224,
        112
      ],
      "id": "caf469b1-616d-4167-b337-a60085499b38",
      "name": "Text Classifier"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        784,
        -96
      ],
      "id": "329b64e2-6144-40c7-ac8d-f194368d7ced",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        336
      ],
      "id": "d6d5f2fe-725e-4d3a-b3e4-46fa50f02b70",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4DyHrQCQaCeTHzgc",
          "name": "serginyo1990@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "## Instructions\nYou are expert in customer support.\nYou must answer on emails from customers.\n\n\n## Tool\nYou have connected tool with relevant information about FAQ and policy of company.\n\n## Sign off\nSign off as \"Support of CloudSync Solutions\"\n\n## Output\nReturn only body of email\n\nAlways use attached tool before answer\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        640,
        304
      ],
      "id": "28422f97-0d0c-4b25-8716-24faed67c5e2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        528
      ],
      "id": "d9ce5bb4-92b3-4ac9-84e9-399bc5ad0df2",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "4DyHrQCQaCeTHzgc",
          "name": "serginyo1990@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Documents about FAQ and policy of company",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        784,
        576
      ],
      "id": "3e6d4e06-b68a-422e-a6cf-6bb5fbcf8990",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "42nmpCYhnXJRyYw7",
          "name": "serginyo1990@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        736
      ],
      "id": "d8229a28-1eb7-4482-98d7-939eb6690923",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4DyHrQCQaCeTHzgc",
          "name": "serginyo1990@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1376,
        304
      ],
      "id": "1d1d770d-6be3-49fe-a71c-4da5c4509e3d",
      "name": "Reply to a message",
      "webhookId": "8b83a42e-018f-422f-a850-26643fb57be1",
      "credentials": {
        "gmailOAuth2": {
          "id": "luGxJY9720GPvF8U",
          "name": "serginyo1990@gmail.com course n8n"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CHAT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        304
      ],
      "id": "b56144f2-bc9e-44e1-820c-82a8e044ff45",
      "name": "Add label to message",
      "webhookId": "871b2458-c36f-4b29-b203-a2e69c2edd04",
      "credentials": {
        "gmailOAuth2": {
          "id": "Txoa38EaUjVS1448",
          "name": "Gmail Crypto"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        608,
        544
      ],
      "id": "6e0e4a46-bd05-4be9-ac20-17e250ad1fec",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "oqWHuMfLvTAccp73",
          "name": "personal"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89d44c99-9c90-4d7a-a0c6-4d45a5ec8fb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9518720d2b2cc296a4abd515fb1d073ae32405ffd715d1e1b5874a6e49ba8a3"
  },
  "id": "HqmUebb9HaiPqWNU",
  "tags": []
}