n8n-templates/n8n_chatbot_rag+pinecone.json
{
  "name": "Chatbot & RAG Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1l5cacvkb2stwe8N6Tg1y7OKGp-i82PYn",
          "mode": "list",
          "cachedResultName": "youtube demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1l5cacvkb2stwe8N6Tg1y7OKGp-i82PYn"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "31cd6564-0dc5-41c9-bb1a-69ab01c43de3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hh0yY7X86RmcfHTQ",
          "name": "serginyo1990"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d88ea686-40b0-489e-ba71-2a31c3d58aa8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Hh0yY7X86RmcfHTQ",
          "name": "serginyo1990"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "4aefbaf0-8b79-4fa0-a8f1-b649e687fd10",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "42nmpCYhnXJRyYw7",
          "name": "serginyo1990@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        240
      ],
      "id": "58b7bffd-118d-4732-9fd6-a34e58d06200",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "4DyHrQCQaCeTHzgc",
          "name": "serginyo1990@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        240
      ],
      "id": "ba804bc2-e6b5-43c5-8657-3fd63de1acca",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        880,
        16
      ],
      "id": "c418a82e-ccd3-4180-b353-7737bf9d572a",
      "name": "When chat message received",
      "webhookId": "9daca803-db3b-48c7-9eda-540d93c7adb6"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. And help with FAQ and return policy of company.\nYou have pinecone vector tool with information about FAQ and return policy."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1072,
        16
      ],
      "id": "dc8ba326-ebf7-4624-9213-94745bd0808e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        240
      ],
      "id": "c75a87b6-e36e-4097-bb89-cbfb4f82f421",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4DyHrQCQaCeTHzgc",
          "name": "serginyo1990@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Knowledge about FAQ and company policy",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1248,
        240
      ],
      "id": "3b185ed6-9f2b-476f-83f4-2b683629fff0",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "42nmpCYhnXJRyYw7",
          "name": "serginyo1990@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1216,
        448
      ],
      "id": "adcd970a-3d95-4585-a62c-7970f12d24db",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "4DyHrQCQaCeTHzgc",
          "name": "serginyo1990@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1424,
        16
      ],
      "id": "63c2d2e4-8196-4d42-a94b-bcc1fcb8b738",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "42nmpCYhnXJRyYw7",
          "name": "serginyo1990@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a2626a4-c170-4332-9565-674f224be2fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9518720d2b2cc296a4abd515fb1d073ae32405ffd715d1e1b5874a6e49ba8a3"
  },
  "id": "UntE1ZPVht6YCfK2",
  "tags": []
}